/* -------1200px------ */

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mail-tel {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
  }

  .mail-tel .item + .item {
    margin-left: 40px;
  }

  .hero {
    max-width: 1440px;
    background-size: 1440px 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg/people-office-desk.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto 48 auto;

    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--title-text-color);
    text-align: center;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
  
  background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
  url('../images/bg/people-office-desk@2x.jpg');}
  }

  .hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 48px;

    color: var(--primary-white-color);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .button {
    display: inline-block;
    padding: 16px 32px;
    min-width: 169px;

    border: none;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:hover,
  button:focus {
    background-color: var(--dark-accent-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .button:active {
    background-color: var(--dark-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  /*FOUNDATION*/
  .section.foundation {
    padding: 120px 16px;
  }

  .foundation-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .foundation-text {
    width: calc((100% - 72px) / 4);

    margin-bottom: 0;
  }
  .foundation-list .title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: var(--secondary-background-color);
    width: 264px;
    height: 112px;
  }

  .foundation-icon {
    width: 64px;
    height: 64px;
  }

  /* what are we doing */
  .work {
    display: flex;
    padding-top: 0;
  }

  .work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .work-list {
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-text-color);
  }

  /* TEAM */

  .section.team {
    padding-top: 96px;
    padding-bottom: 128px;
  }

  .item-team {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  /* CUSTOMERS */

  .section.customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-container {width: 1158px;}


  .customers-item {
    width: calc((100% - 120px) / 6);
    margin-bottom: 0;}
  

  .customers-link {max-width: 168px;}


  /*FOOTER*/
  .footer-main {
margin-bottom: 0;}

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--title-text-color);
    display: flex;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .footer-logo {
    color: var(--secondary-background-color);
  }
  .footer-text {
    width: 264px;
    margin-top: 16px;
    margin-bottom: 0;
    color: #e7e9fc;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .name-title.footer-title {
    margin-bottom: 0;
    color: var(--primary-white-color);
    text-align: left;
  }

  .footer-soc {
    margin-left: 120px;
  }

  .footer-soc-list {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .footer-soc-item {
    width: 40px;
    height: 40px;
  }

  .footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-soc-link:hover,
  .footer-soc-link:focus {
    background-color: #31d0aa;
  }

  .footer-soc-list .footer-soc-item + .footer-soc-item {
    margin-left: 16px;
  }

  .footer-soc-icon {
    fill: #f4f4fd;
  }

  .subscribe-footer {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
  }

  .subscribe-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .name-title.footer-title {
    margin-bottom: 16px;
  }

  .sub-input {
    padding: 8px 16px;
    width: 264px;
    height: 40px;

    background: #2e2f42;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: var(--primary-white-color);
  }

  .sub-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;

    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.6);
  }

  .sub-input:focus {
    outline: none;
    border: 1px solid #4d5ae5;
  }

  .footer-btn {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    padding: 8px 24px;

    width: 165px;
    height: 40px;

    justify-content: center;
    align-items: center;
    text-align: center;

    border: none;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-btn:hover,
  .footer-btn:focus {
    background-color: var(--dark-accent-color);
  }
  .send-icon {
    margin-left: 16px;
  }
}

/* MEDIA */

