/* -------768px------ */

@media screen and (min-width: 768px) 
{
.container {
  width: 768px;
}



.menu-open {display: none;}

.mob-menu {display: none}


  /* --------- HERO ---------*/

  /* site-nav */

.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav .item + .item {
  margin-left: 40px;
}
.link {
  text-decoration: none;
}
.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-text-color);
}

.site-nav .link:active {
  color: var(--dark-accent-color);
}

.item {
  position: relative;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 4px;
  background-color: var(--dark-accent-color);
  border-radius: 2px;
}

.site-nav .link.current:hover,
.site-nav .link.current:focus {
  color: var(--dark-accent-color);
}

/* contacts */
.mail-tel {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.mail-tel .item + .item {margin-left: auto;}
/*.mail-tel .item + .item {
  margin-left: 40px;
}*/

.mail-tel,
.mail,
.tel {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel:hover,
.mail:hover,
.tel:hover,
.mail-tel:focus,
.mail:focus,
.tel:focus {
  color: var(--dark-accent-color);
}

.hero {
  max-width: 1199px;
  background-size: 768px 436px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/bg/dark-bg-tab.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

  padding-top: 112px;
  padding-bottom: 108px;
  background-color: var(--title-text-color);
  text-align: center;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
  
  background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/bg/dark-bg-tab@2x.jpg');}
  }

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 48px;

  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}


.button {
  display: inline-block;
  padding: 16px 32px;
  min-width: 169px;

  border: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
button:focus {
  background-color: var(--dark-accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button:active {
  background-color: var(--dark-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}


/*FOUNDATION */




.section.foundation { padding: 96px 16px;}


.foundation-list {
 display: flex;
 flex-direction: row;
flex-wrap: wrap;
gap: 24px;}


.foundation-list .title {
text-align: start;}

  .foundation-text {
  width: calc((100% - 24px) / 2);
  margin-bottom: 72px;
}

.foundation-text:nth-last-child(-n + 2) {
  margin-bottom: 0;}




/* TEAM */

.section.team {
  padding-top: 96px;
  padding-bottom: 104px;
}

.team-container {width: 584px;}

.team-list {
  margin-bottom: 0;
  
  column-gap: 24px;
  row-gap: 64px;
  margin-left: auto;
  margin-right: auto;


}

.item-team {
  height: 428px;
  width: calc((100% - 24px) / 2);
  margin-bottom: 0;
}

.team-soc-item {
  width: 100%;
}

/*  CUSTOMER     */

.customers-container {width: 584px;}
.customers-list {
 row-gap: 64px;
    column-gap: 24px;
    margin-bottom: 0;
 }


  /*.customers-link {margin-right: 0;}*/

.customers-item {
  width: 168px;
  width: calc((100% - 48px) / 3);
  margin-right: 0;
}

.customers-link {max-width: 168px;}

.customers-item:nth-last-child(-n + 3) {
  margin-bottom: 0;}


/*.customers-link {max-width: 168px;}*/

  /* FOOTER */


.footer {
  background-color: var(--title-text-color);
  display: flex;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /*width: 1158px;*/
    margin-left: auto;
    margin-right: auto;
    width: 584px;
    /*align-items: flex-start;*/
}
.footer-block {display: flex;
flex-direction: row;
align-items: left;
}

.footer-main {
margin-bottom: 72px;
text-align: left;
}

.footer-soc {margin-left: 24px;
align-items: flex-start;}

.footer-logo {
  color: var(--secondary-background-color);
}
.footer-text {
  width: 264px;
  margin-top: 16px;
  margin-bottom: 0;
  color: #e7e9fc;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.name-title.footer-title {
  margin-bottom: 0;
  color: var(--primary-white-color);
  text-align: left;
}

.footer-soc {

/*margin-right: 24px;*/
    margin-bottom: 0;
    flex-direction: column;
    /*align-items: flex-start;*/
    max-width: 264px;}

.footer-soc-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-list .footer-soc-item + .footer-soc-item {
  margin-left: 16px;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.subscribe-footer { 
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  /*align-items: flex-start;*/
}
.form-footer {align-items: flex-start;}


.subscribe-container {
  display: flex;
  flex-direction: row;
   align-items: baseline;
   /*align-items: flex-start;*/
}

.name-title.footer-title {margin-bottom: 16px;
  }

.sub-input { padding: 8px 16px;
  width: 264px;
height: 40px;

  background: #2E2F42;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;


color: var(--primary-white-color);
margin-bottom: 0;}

.sub-input::placeholder {

  
  font-weight: 400;
  font-size: 12px;
  line-height: 2;

 letter-spacing: 0.04em;

color: rgba(255, 255, 255, 0.6);}

.sub-input:focus
 {outline: none;
  border: 1px solid #4D5AE5;
  
}

.footer-btn {
display: inline-flex;
margin-left: 24px;
padding: 8px 24px;
  
width: 165px;
height: 40px;

justify-content: center;
align-items: center;
text-align: center;

border: none;
color: var(--primary-white-color);
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-weight: 500;
font-size: 16px;
line-height: 1.5;

cursor: pointer;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),

}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--dark-accent-color);

}
.send-icon {margin-left: 16px;}

}


/* MEDIA*/

